<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>GreetMaggie</title>
  <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    body{
      text-align: center;
      align-items: center;
      align-content: center;
    }
    html, body {
      width: 100%;
      height: 100%;
    }
  </style>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="contact" style="height: 35vh;">
    <div class="row justify-content-center">
      <form action="/greetMaggie" method="GET" id="greetForm">
        <div>
          <h1 style="text-align: center;">ABOUT US</h1>
          <p th:text="'Greetings! My name is Maggie.'"></p>
          <label for="greetField">What's your name?</label>
          <input name="name" id="greetField">
          <button>Greetings!</button>
          <p th:text="'Hello, ' + ${name} + '!'"></p>
          <img src="/static/images/maggie.jfif" th:src="@{/images/maggie.jfif}" width="250" height="250" alt="Maggie's photo">
          <p th:text="'I like to take pictures and play video games in my freetime!'"></p>
        </div>
      </form>
    </div>
  </div>
  <!-- End of body content specific to page -->
</div></body>

</html>


<!--test-->