<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Grid</title>
</div>
<style>
    table{
        margin-right: 25px;
        margin-top: 50px;
    }
</style>

</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="container">
    <table class="table table-bordered tabl=striped">
        <thead class="thead-dark">
        <th><th:block th:text="${thlfintegration}"></th:block></th>
        <th>Average Temperature</th>
        <th>Weather</th>
        </thead>
        <tbody>
        <tr>
            <td>March 13</td>
            <td>60 F</td>
            <td>Rainy</td>
        </tr>
        <tr>
            <td>October 31</td>
            <td>70 F</td>
            <td>Cloudy</td>
        </tr>
        </tbody>
    </table>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>