<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>

<body>
    </div>
    <!-- header -->
    <!-- Begin rachelProjects.html fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="/">
            <img src="/static/images/transparent-giraffe.png" th:src="@{/images/transparent-giraffe.png}" width="50" height="50" class="d-inline-block align-center" alt="">
            Team Giraffe
            <img src="/static/images/transparent-giraffe.png" th:src="@{/images/transparent-giraffe.png}" width="50" height="50" class="d-inline-block align-center" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Stocks">Stocks</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAboutUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aboutus">About Us</a>
                        <a class="dropdown-item" href="/greetChenxin">Chenxin</a>
                        <a class="dropdown-item" href="/greetMaggie">Maggie</a>
                        <a class="dropdown-item" href="/greetRini">Rini</a>
                        <a class="dropdown-item" href="/greetRachel">Rachel</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarProjects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Projects">Projects</a>
                        <a class="dropdown-item" href="/chenxinProjects">Chenxin</a>
                        <a class="dropdown-item" href="/maggieProjects">Maggie</a>
                        <a class="dropdown-item" href="/riniProjects">Rini</a>
                        <a class="dropdown-item" href="/rachelProjects">Rachel</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarMinilabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/labs">Labs</a>
                        <a class="dropdown-item" href="/unit1">Random Number Generator</a>
                        <a class="dropdown-item" href="/grid">Grid</a>
                        <a class="dropdown-item" href="/sequences">Sequences</a>
                        <a class="dropdown-item" href="/image">Grayscale</a>
                    </div>
                </li>
            </ul>
                <!-- Clock display -->
                <div class="px-3">
                    <span id="clock" style="color: black;" ></span>
                    <!--- <span id="clock"></span> --->
                </div>
            <!-- Navigation bar JavaScript support -->
            <script>
                // Clock controller
                let clockElement = document.getElementById('clock');
                function clock() {
                    let date = new Date();
                    clockElement.textContent = date.toLocaleString();
                }
                // Clock refresh frequency
                setInterval(clock, 1000);
            </script>
        </div>
    </nav>
</body>
</html>

<!--test-->