<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Arithmetic Sequence</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/arithmeticSequence" method="GET" id="greetForm">
                <div>
                    <h1 style="text-align: center;">ARITHMETIC SEQUENCE</h1>
                    <label for="yintField">What is the initial value?</label>
                    <input type="text" name="initVal" id="yintField" value="0">
                    <button>Go!</button>
                   <!--- <label for="slopeField">What is the common difference?</label>
                    <input type="text" name="cdVal" id="slopeField" value="2">
                    <label for="iteration">How many numbers of the Arithmetic Sequence do you need?</label>
                    <input type="text" name="iteration" id="iteration" value="3">
                    <button id="button" onClick="arithmetic()">Enter</button>
                    <form id="asForm" action="/as" method="GET">
                        <input name="aseq" id="aseq" type="number" min="0" max="100">
                        <button>Enter</button> -->
                    </form>

                <table class="table table-bordered tabl=striped">
                    <thead class="thead-dark">
                    <th>Method</th>
                    <th>Time</th>
                    <th>Number</th>
                    <th>List</th>
                     </thead>
                    <tbody>
                    <tr>
                        <td>For Loop</td>
                        <td>seconds</td>
                        <td>number</td>
                        <td>list</td>
                    </tr>
                    <tr>
                        <td>While Loop</td>
                        <td>seconds</td>
                        <td>number</td>
                        <td>list</td>
                    </tr>
                    <tr>
                        <td>Recursion</td>
                        <td>seconds</td>
                        <td>number</td>
                        <td>list</td>
                    </tr>
                    <tr>
                        <td>Stream</td>
                        <td>seconds</td>
                        <td>number</td>
                        <td>list</td>
                    </tr>
                    </tbody>
                 </table>

           <!--- <h3 style="text-align: center;">Initial Value</h3> -->
            <p th:text="'The initial value is ' + ynum + '.'"></p>
                <script>
                        function arithmetic(){
                            let initialValue = document.getElementById("yintField").value;
                            document.write('<pre>')
                         //   document.writeln("The initial value is " + ynum + ".");

                            let count = 0;     //create the arithmetic sequence
                            while (count < iteration) {
                                document.write(num1 + " ");
                                let num2 = num1 + 5;
                                num1 = num2;
                                count += count;
                            }
                        }
                    </script>

                   <!--- <script>
                         function arithmetic() {
                            let ynum = document.getElementById("yintField").value;
                            let slope = document.getElementById("slopeField").value;
                            let inum = document.getElementById("iteration").value;


                            document.write('<pre>')
                            document.writeln("The initial value is " + ynum + ". ");
                            document.writeln("The common difference is " + slope + ". ");
                            document.writeln("The number of iterations is " + inum + ". ");


                            let snum = parseInt(slope);
                            let num1 = parseInt(ynum);
                            let iteration = parseInt(inum);
                            let count = 0;

                            while (count < iteration) {

                                document.write(num1 + " ");

                                let num2 = num1 + snum;
                                num1 = num2;
                                count = count + 1;
                            }
                        }
                    </script> -->

                <!--
                <div class="col-md-6">
                    <h3>Comparisons</h3>
                    <table class="mx-auto">
                        <tbody>
                        <tr>
                            <th scope="col">Method </th>
                            <th scope="col">Time </th>
                            <th scope="col">Number</th>
                            <th scope="col">List</th>
                        </tr>
                        <tr>
                            <td>For</td>
                            <td>35000</td>
                            <td>1</td>
                            <td>[0,1]</td>
                        </tr>
                        <tr>
                            <td>While</td>
                            <td>18000</td>
                            <td>1</td>
                            <td>[0,1]</td>
                        </tr>
                        <tr>
                            <td>Stream</td>
                            <td>91000</td>
                            <td>1</td>
                            <td>[0,1]</td>
                        </tr>
                        <tr>
                            <td>Stream</td>
                            <td>91000</td>
                            <td>1</td>
                            <td>[0,1]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                </div>
            </form>
        </div>
    </div> -->
    <!-- End of body content specific to page -->
</div></body>

</html>


<!--test-->