<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Arithmetic Sequence</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/arithmeticSequence" method="GET" id="greetForm">
                <div>
                    <h1 style="text-align: center;">ARITHMETIC SEQUENCE</h1>

                    <label for="yintField">What is the initial value?</label>
                    <input type="text" name="initVal" id="yintField">
                    <label for="slopeField">What is the common difference?</label>
                    <input type="text" name="cdVal" id="slopeField">
                    <label for="iteration">How many numbers of the Arithmetic Sequence do you need?</label>
                    <input type="text" name="iteration" id="iteration">
                    <button id="button" onClick="arithmetic()">Enter</button>
                    <p th:text="'The initial value is ' + ${initVal} + '!'"></p>
                    <p th:text="'The common difference is ' + ${cdVal} + '!'"></p>
                    <p th:text="'The number of iterations is ' + ${iteration} + '!'"></p>

                    <script>
                        function arithmetic() {
                            let ynum = document.getElementById("yintField").value;
                            let slope = document.getElementById("slopeField").value;
                            let inum = document.getElementById("iteration").value;

                            document.write("The initial value is " + ynum + ". ");
                             // document.write("The common difference is ")

                            let snum = parseInt(slope);
                            let num1 = parseInt(ynum);
                            let dunno = parseInt(inum);
                            let count = 0;

                            while (count < dunno) {

                                document.write(num1 + " ");

                                let num2 = num1 + snum;
                                num1 = num2;
                                count = count + 1;
                            }

                        }



                    </script>

                </div>
            </form>
        </div>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>


<!--test-->