<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>Rachel's Projects</title>
  <style>
    .block {
      display: inline-block;
      width: 100%;
      height: 65px;
      border: none;
      background-color: #04AA6D;
      color: white;
      padding: 14px 28px;
      font-size: 20px;
      cursor: pointer;
      text-align: center;
      margin:10px;
    }

    .block:hover {
      background-color: #ddd;
      color: black;
    }

    .pageTitle {
      text-align: center;
      margin: 20px;
    }


  </style>
  <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="contact" style="height: 35vh;">
    <h1 class="pageTitle">Rachel's Projects</h1>
    <button type="button" class="block" onclick="window.location.href='https://github.com/rachelklee/tptmilab1-8.31';">
      TPT Minilab 1
    </button>
    <button type="button" class="block" onclick="window.location.href='https://padlet.com/rachell60982/tvjnm9j852nxnipn';">
      Pair Share Journal (Rachel and Chenxin)
    </button>

    <button type="button" class="block" onclick="window.location.href='https://docs.google.com/document/d/15mil-mSpv7Ma4rNcUr_b5NjWCx2yM9FR3MIMcpM767U/edit';">
      Individual Journal
    </button>

  </div>
  </div>
  <!-- End of body content specific to page -->
</div></body>"

</html>