<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1 style="text-align:center">Stocks (USA Markets)</h1>
        <div class="jumbotron text-row" style="background-color: #df9c36">
        <h3>This Week's Updates</h3>
        <ol>
            <li>IronNet Cybersecurity, Inc. increased by 23.89%</li>
            <li>AMC Entertainment Holdings, Inc. decreased by 2.33% </li>
            <li>Globalstar, Inc. increased by 3.4229%</li>
            <li>Apple Inc. decreased by 0.56%</li>
        </ol>
        <!--- <h3>Overall Statistics</h3>
        <ol>
            <li>stats</li>
            <li>stats</li>
            <li>stats</li>
            <li>stats</li>
            <li>stats</li>
        </ol> --->
    </div>
    <!-- start of grid code --->
    <div class="container">
        <table class="table table-bordered tabl=striped">
            <thead class="thead-dark">
            <th><th:block th:text="${thlfintegration}"></th:block></th>
            <th>Stock Name (Abbreviation)</th>
            <th>Percent Change</th>
            <th>Rank</th>
            </thead>
            <tbody>
            <tr>
                <td>AMC Entertainment Holdings, Inc.</td>
                <td>AMC</td>
                <td>-2.33%</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Globalstar, Inc.</td>
                <td>GSAT</td>
                <td>+3.4229%</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Apple Inc.</td>
                <td>AAPL</td>
                <td>-0.56%</td>
                <td>3</td>
            </tr>
            <tr>
                <td>New Oriental Education & Technology Group Inc.</td>
                <td>EDU</td>
                <td>-3.75%</td>
                <td>4</td>
            </tr>
            <tr>
                <td>IronNet Cybersecurity, Inc.</td>
                <td>IRNT</td>
                <td>+23.89%</td>
                <td>5</td>
            </tr>


            </tbody>
        </table>
        <p th:text="'Last updated September 15, 2021 at 9:04:58 AM'"></p>
        <!-- End of body content specific to page -->
    </div></body>
</html>




